NODE_ENV=production
PORT=8787
AUTH_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
MASTER_ACCESS_CODE=CHANGE_ME_MASTER_INVITE_CODE
TURN_URL=turn:turn.iamlive.one:3478?transport=udp
TURN_USERNAME=CHANGE_ME_TURN_USER
TURN_CREDENTIAL=CHANGE_ME_TURN_PASS
